extends ./layouts/index


block contenido
    main.container.mt-5     
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1= pagina 
                blockquote Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum vero corporis, eius minima obcaecati neque quis voluptatibus veritatis accusamus ipsa, debitis iste vitae facilis cumque impedit. Vel cum tempora possimus. 

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod iure ratione quisquam, doloremque perferendis aut, non, doloribus beatae officia iste maxime. Aliquam laborum maiores quibusdam cumque aperiam, optio ipsum et. 

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod iure ratione quisquam, doloremque perferendis aut, non, doloribus beatae officia iste maxime. Aliquam laborum maiores quibusdam cumque aperiam, optio ipsum et. 
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid md-4")
                    h2.md-4 Seguridad
                    p Aliquam laborum maiores quibusdam cumque aperiam, optio ipsum et.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid md-4")
                    h2.md-4 Mejores Destinos
                    p Aliquam laborum maiores quibusdam cumque aperiam, optio ipsum et. 
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid md-4")
                    h2.md-4 Los Mejores Precios 
                    p Aliquam laborum maiores quibusdam cumque aperiam, optio ipsum et.  